.debug {
	background-color: #F27935; 
	border: 2px solid #D35400;
	padding: 15 15 15 15;
} 

.info {
	font-size: 15px;
	color: #2574A9 !important;
}

.main-top {
	color: black;

}

.button-danger {
	background-color: #e74c3c;
	color: white;
}